input.hidden, span.hidden, div.hidden, button.hidden {
    display: none;
}

.error-message {
    background-color: #621e1e;
    color: #d1794f;
    text-align: center;
    font-size: large;
}

div.grey-div {
    width: 332px;
    font-size: 150%;
}

.text {
    color: #a6a28c;
}

.color-light-brown {
    color: #775f40;
}

.color-light-light-brown {
    color: #937a57;
}

.color-background {
    color: #343133;
}

.color-violet {
    color: #766983;
}

.color-green {
    color: #436441;
}

body {
    background-color: #343133;
}

input.button {
    background-color: #5c595b;
    color: #889779;
}

input.text-field {
    background-color: rgba(32, 32, 39, 0.95);
    color: #a6a28c;
    border: 0;
}

.contains-error {
    background-color: rgba(35, 10, 17, 0.95);
    color: #a6a28c;
    border: 1px solid #d1794f;
}

a:link {
    color: #937a57;
}

/* visited link */
a:visited {
    color: #7b6a84;
}

/* mouse over link */
a:hover {
    color: darkgoldenrod;
}

/* selected link */
a:active {
    color: #689884;
}

.button {
    border-radius: 4px;
    border:2px solid;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 5px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 5px 5px rgba(0,0,0,0.6);
}